.recipesContainer .middleContainer .middleLeft {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
}

.recipesContainer .middleContainer .middleLeft .loadingContainer {
  margin-top: 200px;
}

.recipesContainer .middleContainer .middleRight {
  width: 60%;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 400px;
}

.box1 p {
  font-size: 20px;
  color: var(--tertiary-color);
  font-weight: 500;
}

.box1 .smileIcon {
  font-size: 48px;
  color: var(--main-color);
}

.recipeBookmarkIcon {
  color: var(--main-color);
}

.recipeBookmarkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 765px) {
  .recipesContainer .middleContainer .middleLeft {
    width: 100%;
    gap: 5px;
  }

  .recipesContainer .middleContainer .middleRight {
    width: 100%;
  }
  .recipesContainer
    .middleContainer
    .middleRight
    .itemListContainer
    .allItemContainer {
    padding: 0px;
    padding: 20px 0;
  }
  .recipesContainer .middleContainer .middleRight .navigationContainer {
    padding: 20px 0px;
  }
}
