.newRecipeRequestContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out forwards;
  padding-bottom: 20px;
  background: var(--secondary-color);
  background: transparent;
  background: var(--border-gradient);
  min-height: 100vh;
  height: 100%;
  opacity: 0.1;
}

.newRecipeRequestContainer .newRequestInner {
  width: 70%;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 10px rgb(147, 130, 130);
  background: transparent;
  backdrop-filter: blur(25px);
  background-color: #fdfafa;
  min-height: 500px;
}

h1,
span {
  color: #333;
}

.newRecipeRequestContainer .newRequestInner .middleContainer,
.newRecipeRequestContainer .newRequestInner .loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  color: var(--tertiary-color);
  min-height: 400px;
}

.newRecipeRequestContainer .newRequestInner .middleContainer {
  align-items: flex-start;
}


.newRecipeRequestContainer .newRequestInner .footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newRecipeRequestContainer .newRequestInner .footerContainer button {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--tertiary-color);
  border: 2px solid var(--main-color);
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--secondary-color);
  color: #fff;
  background: transparent;
  background-color: #ff6b6b;
}

.newRecipeRequestContainer .newRequestInner .footerContainer button:hover {
  background-color: var(--main-color);
  background-color: var(--secondary-color);
  background-color: #e04e4e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 1000px) {
  .newRecipeRequestContainer .newRequestInner {
    width: 95%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 790px) {
  .newRecipeRequestContainer .newRequestInner .middleContainer {
    flex-direction: column;
  }

  .newRecipeRequestContainer .newRequestInner .middleContainer {
    gap: 20px;
  }

  .newRecipeRequestContainer .newRequestInner .middleContainer .middleLeft,
  .newRecipeRequestContainer .newRequestInner .middleContainer .middleRight {
    width: 100%;
  }

  .newRecipeRequestContainer .newRequestInner {
    padding: 8px;
  }
}
