.banner2Container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.banner2Container .bannerLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.banner2Container .bannerLeft h1 {
  font-size: 56px;
  letter-spacing: 2px;
}

.banner2Container .bannerLeft .submitButtonContainer button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 75px;
  width: 300px;
  font-size: 32px;
  border-radius: 40px;
  background-color: #fd6b47;
  color: #fefffe;
}

.banner2Container .bannerRight {
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner2Container .bannerRight img {
  width: 80%;
  height: 300px;
  object-fit: cover;
}
