.bookmarksSection {
  position: absolute;
  background: #ffffff;
  padding: 10px;
  top: 144px;
  right: 7.5%;
  animation: fadeIn 0.5s ease-in-out forwards;
  border-radius: 12px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffabab;
  z-index: 1;
}

.bookmarksSection .bookmarkCrossContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  width: 100%;
  padding: 5px 0;
}

.bookmarksSection .bookmarkCrossContainer .crossIcon {
  cursor: pointer;
  color: #ffffff;
}

.bookmarksSection .bookmarkrecipeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.bookmarksSection .bookmarkrecipeContainer .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: 1px solid #aaa7a7;
  border-bottom: 1px solid #ffffff;
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%;
  padding: 10px 5px;
  cursor: pointer;
  /* background-color: #f3f2f2; */
  background-color: #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}


.bookmarksSection .bookmarkrecipeContainer .content:hover {
  background-color: #f8eaea;
}

.bookmarksSection .bookmarkrecipeContainer .content p {
  color: #333;
}
.bookmarksSection .bookmarkrecipeContainer .imageContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.bookmarksSection .bookmarkrecipeContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bookmarksSection .bookmarkrecipeContainer .content .descriptionContainer {
  width: 40%;
}

.bookmarksSection .bookmarkrecipeContainer .content .userIcon {
  color: #333;
  border: 2px solid #f48982;
  border-radius: 50%;
  padding: 7px 10px;
}

.emptyContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.emptyContainer p {
  color: #ffffff;
  font-size: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1060px) {
  .bookmarksSection {
    right: 14px;
  }
}

@media screen and (max-width: 430px) {
  .bookmarksSection {
    width: 94%;
  }
}
