.loginContainer {
  height: 100%;
  min-height: 92vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
}

.loginContainer .loginLeftPart,
.loginRightPart {
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #ffe8b4, #f48982);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer .loginLeftPart {
  height: 90%;
  width: 40%;
  padding: 70px 0;
}

.loginContainer .loginLeftPart img {
  width: 70%;
  height: 75%;
  object-fit: cover;
}

.loginContainer .loginRightPart {
  background: white;
}

.loginContainer .loginRightPart .loginInnerRightPart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 25px;
  min-height: 500px;
}

.loginContainer .loginRightPart .loginInnerRightPart img {
  width: 60px;
}

.loginContainer .loginRightPart .loginInnerRightPart p {
  text-align: center;
}

.loginContainer .loginRightPart .loginInnerRightPart .subHeading {
  color: #5b5959;
}

.loginContainer .loginRightPart .loginInnerRightPart .inputContainer {
  border: none;
  outline: none;
  width: 75%;
  border: 4px solid transparent;
  border-radius: 10px;
  height: 60px;
  border: 2px solid var(--main-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
}

.loginContainer .loginRightPart .loginInnerRightPart .inputContainer input {
  border: none;
  outline: none;
  width: 90%;
  border: 4px solid transparent;
  border-radius: 10px;
  height: 60px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  background: transparent;
}

.loginContainer
  .loginRightPart
  .loginInnerRightPart
  .inputContainer
  input:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.loginContainer
  .loginRightPart
  .loginInnerRightPart
  .inputContainer
  .iconContainer {
  width: 10%;
}

.loginContainer
  .loginRightPart
  .loginInnerRightPart
  .inputContainer
  .iconContainer
  .invalidIcon {
  font-size: 32px;
  color: var(--main-color);
}

.loginContainer .loginRightPart .loginInnerRightPart .loginButton {
  border-radius: 10px;
  height: 50px;
  width: 150px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transition-delay: 0s;
}

.loginContainer .loginRightPart .loginInnerRightPart .loginButton:hover {
  transition-delay: 0.3s;
  background-color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.loginContainer .loginRightPart .loginInnerRightPart input {
  letter-spacing: 1.2px;
  color: #5b5959;
  font-family: "Barlow", sans-serif;
}

@media screen and (max-width: 500px) {
  .loginContainer .loginLeftPart {
    display: none;
  }

  .loginContainer .loginRightPart {
    width: 100%;
  }

  .loginContainer .loginRightPart .loginInnerRightPart {
    width: 100%;
    height: 100%;
  }

  .loginContainer .loginRightPart .loginInnerRightPart .inputContainer {
    width: 85%;
    padding-right: 10px;
  }

  .loginContainer .loginRightPart .loginInnerRightPart img {
    width: 40px;
  }
  .loginContainer .loginRightPart .loginInnerRightPart input {
    width: 90%;
    font-size: 18px;
  }
}
