.newRecipeRequestContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out forwards;
  padding-bottom: 20px;
  min-height: 100%;
  background: var(--secondary-color);
  background: transparent;
  background: var(--border-gradient);
  min-height: 100vh;
  height: 100%;
  opacity: 0.1;
}

.newRecipeRequestContainer .newRequestInner {
  width: 70%;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 10px rgb(147, 130, 130);
  background: transparent;
  backdrop-filter: blur(25px);
  background-color: #fdfafa;
}

h1,
span {
  color: #333;
}

.newRecipeRequestContainer .newRequestInner .crossContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: var(--tertiary-color);
}

.newRecipeRequestContainer .crossContainer .crossIcon {
  font-size: 24px;
  cursor: pointer;
}

.newRecipeRequestContainer .newRequestInner .middleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  color: var(--tertiary-color);
}

.newRecipeRequestContainer .newRequestInner .middleContainer .middleLeft,
.newRecipeRequestContainer .newRequestInner .middleContainer .middleRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.newRecipeRequestContainer .newRequestInner .middleContainer .middleLeft .head,
.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleRight
  .head {
  width: 100%;
  font-size: 24px;
}

.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleLeft
  .head
  h1,
.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleRight
  .head
  h1 {
  font-size: 20px;
  font-weight: 600;
}

.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleLeft
  .dataContainer,
.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleRight
  .dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleLeft
  .dataContainer
  .textContainer,
.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleRight
  .dataContainer
  .textContainer {
  width: 30%;
}

.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleLeft
  .dataContainer
  .inputContainer,
.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleRight
  .dataContainer
  .inputContainer {
  width: 70%;
}

.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleLeft
  .dataContainer
  .inputContainer
  input,
.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleRight
  .dataContainer
  .inputContainer
  input {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 8px;
  font-size: 18px;
  padding-left: 5px;
  border: 0.5px solid #d0cfcf;
  background-color: #f7f5f5;
  background-color: transparent;
  border-color: #ddd;
  letter-spacing: 1.2px;
  color: #ddd;
  letter-spacing: 1.2px;
  color: #5b5959;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
}

.confirmMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.confirmMessage .smileIcon {
  font-size: 40px;
  color: var(--main-color);
}

.confirmMessage .message {
  font-size: 20px;
}

.rejectMessage {
  font-size: 32px;
}
.newRecipeRequestContainer
  .newRequestInner
  .middleContainer
  .middleRight
  .dataContainer
  .inputContainer
  input::placeholder {
  font-size: 14px;
}

.newRecipeRequestContainer .newRequestInner .footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newRecipeRequestContainer .newRequestInner .footerContainer button {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--tertiary-color);
  border: 2px solid var(--main-color);
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--secondary-color);
  color: #fff;
  background: transparent;
  background-color: #ff6b6b;
}

.newRecipeRequestContainer .newRequestInner .footerContainer button:hover {
  background-color: var(--main-color);
  background-color: var(--secondary-color);
  background-color: #e04e4e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 1000px) {
  .newRecipeRequestContainer .newRequestInner {
    width: 95%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 790px) {
  .newRecipeRequestContainer .newRequestInner .middleContainer {
    flex-direction: column;
  }

  .newRecipeRequestContainer .newRequestInner .middleContainer {
    gap: 20px;
  }

  .newRecipeRequestContainer .newRequestInner .middleContainer .middleLeft,
  .newRecipeRequestContainer .newRequestInner .middleContainer .middleRight {
    width: 100%;
  }
  .newRecipeRequestContainer .newRequestInner {
    padding: 8px;
  }
  .confirmMessage, .rejectMessage {
    font-size: 4vw;
  }

}
