.recipesContainer {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  min-height: 100dvh;
  flex-direction: column;
}

.recipesContainer .recipeHeadingContainer {
  width: 100%;
  min-height: 60px;
  border-radius: 12px;
  background-color: #ffabab;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}

.recipesContainer .recipeHeadingContainer .recipeHeadingLeft,
.recipesContainer .recipeHeadingContainer .recipeHeadingRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.recipesContainer .recipeHeadingContainer .recipeHeadingLeft {
  width: 70%;
}

.recipesContainer .recipeHeadingContainer .recipeHeadingRight {
  width: 30%;
  gap: 20px;
  color: #f48982;
}

.recipesContainer .recipeHeadingContainer .recipeHeadingLeft img {
  width: 40px;
  height: 40px;
}

.recipesContainer .recipeHeadingContainer .recipeHeadingLeft input {
  width: 100%;
  height: 40px;
  border-radius: 100px;
  border: none;
  border: 3px solid #f48982;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  letter-spacing: 1.2px;
  color: #333;
  color: #737373;
  outline: none;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.recipesContainer .recipeHeadingContainer .recipeHeadingLeft input:focus {
  border: 3px solid #f48982;
}

.recipesContainer .recipeHeadingContainer .recipeHeadingLeft input,
.recipesContainer
  .recipeHeadingContainer
  .recipeHeadingRight
  .bookmarkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipesContainer
  .recipeHeadingContainer
  .recipeHeadingLeft
  input::placeholder {
  letter-spacing: 1.5px;
  font-size: 16px;
  margin: auto;
}

.recipesContainer
  .recipeHeadingContainer
  .recipeHeadingRight
  .bookmarkContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 30vw;
  gap: 20px;
}

.recipesContainer
  .recipeHeadingContainer
  .recipeHeadingRight
  .bookmarkContainer
  button {
  cursor: pointer;
  letter-spacing: 1.2px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #333;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}

.recipesContainer
  .recipeHeadingContainer
  .recipeHeadingRight
  .bookmarkContainer
  .plusIcon,
.bookmarkIcon {
  display: none;
}

.recipesContainer .middleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  gap: 20px;
  border-radius: 12px;
}

.recipesContainer .middleContainer .middleLeft {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.recipesContainer .middleContainer .middleRight {
  width: 60%;
}

.recipesContainer .middleContainer .middleLeft .recipesList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-radius: 12px;
  border-bottom: 3px solid #f48982;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  min-height: 80px;
  gap: 10px;
  animation: fadeIn 0.5s ease-in-out forwards;
  margin-bottom: 5px;
}

.recipesContainer .middleContainer .middleLeft .recipesList:hover {
  background-color: #ffabab;
}

.recipesContainer .middleContainer .middleLeft .recipesList .imageContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.recipesContainer .middleContainer .middleLeft .recipesList .nameContainer {
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 75px;
  padding-top: 10px;
}

.recipesContainer .middleContainer .middleLeft .recipeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.recipesContainer .middleContainer .middleLeft .recipeButtonContainer button {
  background-color: transparent;
  height: 50px;
  width: 100px;
  border-radius: 30px;
  outline: none;
  border: 3px solid #f48982;
  font-size: 16px;
  letter-spacing: 1.2px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 500;
}

.recipesContainer
  .middleContainer
  .middleLeft
  .recipeButtonContainer
  button:hover {
  background-color: #f48982;
}
.recipesContainer
  .middleContainer
  .middleLeft
  .recipesList
  .nameContainer
  .itemTitle {
  font-weight: 500;
  letter-spacing: 0.8px;
  max-height: 42px;
  overflow: hidden;
}

.recipesContainer
  .middleContainer
  .middleLeft
  .recipesList
  .nameContainer
  .itemPublisher {
  font-size: 16px;
  color: #575454;
}

.recipesContainer
  .middleContainer
  .middleLeft
  .recipesList
  .imageContainer
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipesContainer .middleContainer .middleLeft .recipesList .userContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f48982;
}

.recipesContainer .middleContainer .middleRight .imageContainer img {
  width: 100%;
  height: 300px;
  border-radius: 16px;
}

.recipesContainer .middleContainer .middleRight .navigationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  padding: 20px 20px;
}

.recipesContainer
  .middleContainer
  .middleRight
  .servingsContainer
  .updationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.recipesContainer .middleContainer .middleRight .navigationContainer .clockIcon,
.recipesContainer
  .middleContainer
  .middleRight
  .navigationContainer
  .servingsIcon,
.recipesContainer .middleContainer .middleRight .navigationContainer .minusIcon,
.recipesContainer .middleContainer .middleRight .navigationContainer .plusIcon {
  color: #f48982;
}

.recipesContainer
  .middleContainer
  .middleRight
  .navigationContainer
  .minusIcon:hover,
.recipesContainer
  .middleContainer
  .middleRight
  .navigationContainer
  .plusIcon:hover,
.recipesContainer
  .middleContainer
  .middleRight
  .navigationContainer
  .recipeBookmarkIcon:hover {
  cursor: pointer;
}
.recipesContainer .middleContainer .middleRight .itemListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  flex-wrap: wrap;
}

.recipesContainer .middleContainer .middleRight .itemListContainer h1 {
  letter-spacing: 1.2px;
  font-size: 24px;
  font-weight: 500;
}
.recipesContainer
  .middleContainer
  .middleRight
  .itemListContainer
  .allItemContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 20px;
  min-height: 300px;
  align-items: start;
}

.recipesContainer
  .middleContainer
  .middleRight
  .itemListContainer
  .allItemContainer
  .itemContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.recipesContainer
  .middleContainer
  .middleRight
  .navigationContainer
  .timingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* border: 2px solid red; */
}

.recipesContainer
  .middleContainer
  .middleRight
  .navigationContainer
  .servingsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  /* border: 2px solid blue; */
}

.recipesContainer .middleContainer .middleRight .directionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 20px 0;
}

.recipesContainer .middleContainer .middleRight .directionsContainer p {
  text-align: center;
}
.recipesContainer .middleContainer .middleRight .directionsContainer button {
  background-color: transparent;
  outline: none;
  border: 3px solid #f48982;
  height: 50px;
  width: 150px;
  font-size: 16px;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.recipesContainer
  .middleContainer
  .middleRight
  .directionsContainer
  button:hover {
  background-color: #f48982;
}

.recipesContainer
  .middleContainer
  .middleRight
  .itemListContainer
  .allItemContainer
  .itemContainer
  .recipeIcons {
  /* border: 2px solid #f48982; */
  color: #f48982;
  /* border-radius: 50%;
    padding: 4px 5px; */
}
.recipesContainer
  .middleContainer
  .middleRight
  .directionsContainer
  #directionHeading {
  font-size: 22px;
}

.recipesContainer
  .middleContainer
  .middleRight
  .directionsContainer
  #publisherName {
  font-weight: 700;
  font-size: 20px;
  color: #f48982;
}

.box1 {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* max-height: 400px; */
  height: 400px;
}

.box1 p {
  font-size: 20px;
  color: #f48982;
  color: #333;
  font-weight: 500;
}

.box1 .smileIcon {
  font-size: 48px;
  color: #f48982;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1060px) {
  .recipesContainer {
    width: 97%;
  }

  .recipesContainer
    .recipeHeadingContainer
    .recipeHeadingRight
    .bookmarkContainer
    button {
    font-size: 14px;
    letter-spacing: 1.2px;
  }

  .recipesContainer
    .recipeHeadingContainer
    .recipeHeadingRight
    .bookmarkContainer {
    gap: 5px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 765px) {
  .recipesContainer {
    width: 95%;
  }

  .plusIcon,
  .bookmarkIcon {
    font-size: large;
  }
  .recipesContainer .recipeHeadingContainer .recipeHeadingLeft {
    width: 80%;
  }
  .recipesContainer .recipeHeadingContainer .recipeHeadingRight {
    width: 20%;
    gap: 20px;
    color: #f48982;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .recipesContainer
    .recipeHeadingContainer
    .recipeHeadingRight
    .bookmarkContainer {
    gap: 10px;
  }
  .recipesContainer
    .recipeHeadingContainer
    .recipeHeadingRight
    .bookmarkContainer
    button {
    font-size: 2vw;
    display: none;
  }

  .recipesContainer
    .recipeHeadingContainer
    .recipeHeadingRight
    .bookmarkContainer
    .plusIcon,
  .bookmarkIcon {
    display: block;
    color: #333;
    /* font-size: 50px; */
  }

  .recipesContainer
    .recipeHeadingContainer
    .recipeHeadingRight
    .bookmarkContainer {
    justify-content: flex-end;
    color: #333;
  }
  .recipesContainer .middleContainer {
    flex-direction: column;
  }

  .recipesContainer .middleContainer .middleLeft {
    width: 100%;
    gap: 5px;
  }

  .recipesContainer .middleContainer .middleRight {
    width: 100%;
  }
  .recipesContainer
    .middleContainer
    .middleRight
    .itemListContainer
    .allItemContainer {
    padding: 0px;
    /* border: 2px solid red; */
    padding: 20px 0;
  }
  .recipesContainer .middleContainer .middleRight .navigationContainer {
    padding: 20px 0px;
  }
}
