.sideBarContainer {
  height: 100dvh;
  padding: 10px 10px;
  display: none;
  /* background-color: rgb(181, 181, 181); */
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: -600px;
  top: 0;
  width: 99%;
  height: 100vh;
  z-index: 999;
}

.sideBarContainer .sideBarInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 320px;
}

.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer1
  .sideBarCrossContainer {
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
  color: var(--tertiary-color);
  cursor: pointer;
}

.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer1
  .sideBarListContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer1
  .sideBarListContainer
  .iconContainer {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 28px;
  color: var(--tertiary-color);
}

.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer1
  .sideBarListContainer
  .buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  border-radius: 5px;
  height: 60px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease-in-out;
}

.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer1
  .sideBarListContainer
  .buttonContainer:hover {
  background-color: var(--secondary-color);
}
.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer1
  .sideBarListContainer
  .buttonContainer
  .iconContainer {
  width: 15%;
}

.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer1
  .sideBarListContainer
  .buttonContainer
  .iconNameContainer {
  width: 85%;
  font-size: 26px;
}
/* .sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer1
  .sideBarListContainer
  ul
  li:hover {
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
} */

.sideBarContainer .sideBarInnerContainer .sideBarInnerContainer2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer2
  .sideBarLogoContainer {
  width: 50px;
  display: flex;
  align-items: center;
}
.sideBarContainer
  .sideBarInnerContainer
  .sideBarInnerContainer2
  .sideBarLogoContainer
  img {
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 600px) {
  .sideBarContainer {
    display: block;
    transition: all 0.5s ease-in-out;
  }

  .show {
    right: 0px;
  }
}
