@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Quicksand", sans-serif; */
  font-family: "Barlow", sans-serif;
  /* font-family: "Cabin", sans-serif; */
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

:root {
  /* background-color: rgb(224, 224, 223); */
  /* overflow-x: hidden; */
  /* background-color: red; */
  --border-gradient: linear-gradient(to right, #ffe8b4, #f48982);
  --border-gradient2: linear-gradient(to right, #f48982, #ffe8b4);
  --main-color: #fd6b47;
  --secondary-color: #fbaa96;
  --tertiary-color: #333333;
  --dark-border: #ff8668;
  --hover-Section: #f8eaea;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
  padding: 10px 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
